<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCS Email Alarm visualization</title>
    <meta name="author" content="Gianluca Rigoletti">
    <meta name="description" content="Gas Control System alarm visualization website">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body class="bg-white">
    {% include "navbar.html" %}


    <div class="container mx-auto  py-6">

        {% for key, value in alarm.items() %}
        <div class="p-6">
            <h1
                class="p-1 mb-1 text-m uppercase leading-none tracking-tight text-gray-500 md:text-m lg:text-m dark:text-white">
                {{ key }}</h1>
            <h2
                class="p-1 mb-1 text-m font-bold leading-none tracking-tight text-gray-600 md:text-m lg:text-l dark:text-white">
                {{ value | replace("\r\n", "<br />") | safe }}</h2>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>

</html>