<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCS Email Alarm visualization</title>
    <meta name="author" content="Gianluca Rigoletti">
    <meta name="description" content="Gas Control System alarm visualization website">
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_materialize.min.css"
        integrity="sha512-8l5A+onWLQWYw2vOZ1I2XIz/T2fy1/Vyg3h48fwlFRO9UjoosIPrmiMB5SMufV/nF5e9Jgm9OK5vcgvodCFQ0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_bootstrap5.min.css"
        integrity="sha512-904y6HHQyQS2fAyIQ869rH3AAkxZeFuxo9vheji5zw+IPEyioMWN4Bt/VFhzO5edPZ9m1lwkpYgXcYcm1vzaFw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_bootstrap3.min.css"
        integrity="sha512-UFbknYmMr3Lz79GQ7djfc50k+FbAUGJMZAzLPrrhjysxPY9d2+kwasZqcruhq4o+HIgNBe0Thsc+QL1kQGm28w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_bootstrap4.min.css"
        integrity="sha512-yoOzbLm6Y510pCo6yi7dn3ZB2pL/bAj4H6nvBarr7U9cJPVvS5p/2Q/SvWmZv8uajR0Z9Zkwq/OMR0AF8+vhaQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_bulma.min.css"
        integrity="sha512-1dTuUsjyqbDqm9epuXatZlufT6Ma4IZ3mGbLDZp2AV9dsWtZFwB7AYcl81ye3i2AZbI0PqrT+FZrMQVUidZyuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_materialize.min.css"
        integrity="sha512-8l5A+onWLQWYw2vOZ1I2XIz/T2fy1/Vyg3h48fwlFRO9UjoosIPrmiMB5SMufV/nF5e9Jgm9OK5vcgvodCFQ0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_modern.min.css"
        integrity="sha512-Ow3MCYype7N/X9Qgnt3Nsw06CZ3f1oluvXfQDuHCSi5rtv7aaaK8D/nzTcJ2KwLMJXGeyBfTYmoafwfC55DzSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator_semanticui.min.css"
        integrity="sha512-Jtr8Z8Is4xn7MvlAVvx9ZgDGBFVxfMPemjbGa0uk862EAqhzYEGZlrbM53UVY0Pb7skBdFJzUEzffO9VKH+unA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.3/luxon.min.js"
        integrity="sha512-gUQcFuEaDuAEqvxIQ9GDdMcCeFmG5MPnoc6ruJn+nyCNHrHM2oB97GOVLIOiixzTxPYmIfEQbOoQmx55UscLyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body class="bg-white">
    {% include "navbar.html" %}


    <div class="container mx-auto flex flex-wrap py-6">

        <h2
            class="p-4 mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-xl lg:text-2xl dark:text-white">
            Alarm stats </h2>
        <div class="w-full items-center p-3 shadow">
            <div id="plot-stats-alarms" class="w-full"></div>
            <div id="plot-stats-categories" class="w-full"></div>
            <!--             
            <img class="w-full" src="data:image/png;base64,{{plot | safe}}" alt="plot">
            <img class="w-full" src="data:image/png;base64,{{plot | safe}}" alt="plot"> -->
        </div>

    </div>

    <div class="columns-1 mx-auto">
        <h2
            class="p-4 my-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-xl lg:text-2xl dark:text-white">
            Alarm list </h2>
        <div class="py-6 px-10">
            <div id="last-week-alarms"
                class="inline-block rounded border border-green-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
                Filter by last week alarms
            </div>
            <div id="last-week-alarms-clear"
                class="inline-block rounded border border-blue-600 px-12 py-3 text-sm font-medium text-blue-600 hover:bg-blue-600 hover:text-white focus:outline-none focus:ring active:bg-blue-500">
                Clear filter
            </div>
            <div id="download-data"
                class="inline-block rounded border border-green-600 px-12 py-3 text-sm font-medium text-green-600 hover:bg-green-600 hover:text-white focus:outline-none focus:ring active:bg-green-500">
                Download CSV data
            </div>
        </div>
        <div id="main-table" class="shadows mx-6"></div>
    </div>

    <script>
        var table = new Tabulator("#main-table", {
            pagination: true,
            paginationMode: "remote",
            // progressiveLoad: 'scroll',
            layout: 'fitDataFill',
            ajaxURL: "/alarms",
            ajaxContentType: 'json',
            ajaxConfig: 'POST',
            maxHeight: '600px',
            paginationSize: 100,
            paginationInitialPage: 1,
            autoColumns: true,
            filterMode: 'remote',
            selectable: true,
            selectableRangeMode: "click",
            clipboard: true,
            // responsiveLayout: "collapse",
            // headerFilterLiveFilterDelay: 600,
            headerFilterLiveFilter: false,
            autoColumnsDefinitions: {
                experiment: { title: 'Experiment', headerFilter: true },
                system: { title: 'Gas System', headerFilter: true },
                alarm_name: { title: 'Alarm name', headerFilter: true },
                alarm_text: { title: 'Alarm text', tooltip: true },
                category: { title: 'Alarm category', tooltip: true },
                alarm_timestamp: {
                    title: 'Alarm timestamp', formatter: 'datetime', headerFilter: 'date', formatterParams: {
                        inputFormat: 'iso',
                        outputFormat: "yyyy-MM-dd HH:mm:ss",
                        timeZone: 'Europe/Rome'
                    }
                },
                during_working_hours: {
                    title: 'During working hours ', headerFilter: 'tickCross', formatter: 'tickCross', headerFilterParams: {
                        tristate: true
                    }
                },
                is_alarm: {
                    title: 'Alarm?', headerFilter: 'tickCross', formatter: 'tickCross', headerFilterParams: {
                        tristate: true
                    }
                },
                year: { title: 'Year', headerFilter: "number" },
                week: { title: 'Week', headerFilter: "number" },
                id: {
                    title: 'Link',
                    formatter: function (cell, formatterParams, onRendered) {
                        let value = cell.getValue();
                        let href = `${formatterParams["urlPrefix"]}${value}`;
                        return `<a href=${href}>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>
                        </a>`
                    },
                    formatterParams: {
                        urlPrefix: '/alarm?id=',
                        target: '_blank'
                    }
                }
            }
        });

        plotAlarmStats = document.getElementById('plot-stats-alarms');
        var plotSettings = {{ plot_stats_alarms | safe  }}
        var plot = Plotly.newPlot(plotAlarmStats, plotSettings['data'], plotSettings['layout'], {
            scrollZoom: true,
            displayModeBar: false,
            editable: true
        })

        var filterLastWeek = document.getElementById('last-week-alarms')
        var filterLastWeekClear = document.getElementById('last-week-alarms-clear')
        var downloadData = document.getElementById('download-data')
        var DateTime = luxon.DateTime
        function customFilter(data, params) {
            console.log(data, params)
            return data.is_alarm === true
        }
        filterLastWeek.addEventListener('click', () => {
            var now = DateTime.now()
            var lastWeek = now.minus({ weeks: 1 })
            table.setFilter([
                { field: 'is_alarm', type: '=', value: 'true' },
                { field: 'alarm_timestamp', type: '>', value: lastWeek.toString() },
                { field: 'during_working_hours', type: '=', value: 'false' },
            ])

        })

        filterLastWeekClear.addEventListener('click', () => {
            table.clearFilter(true)
        })

        downloadData.addEventListener('click', () => {
            table.download("csv", "alarms.csv")
        })

    </script>
</body>

</html>